@import "tailwindcss";

html {
    scroll-behavior: smooth;
    scroll-padding: 125px;
}

@font-face {  font-family: Sigmar;  font-style: normal;  font-weight: 400; src: url("../fonts/Sigmar-Regular.woff2") format("woff2");}
@font-face {  font-family: Montserrat;  font-style: normal; src: url("../fonts/Montserrat.woff2") format("woff2");}

@theme {
    --font-primary: "Montserrat", serif;
    --font-secondary: "Sigmar", sans-serif;
    --color-primary: #00865a;
    --color-secondary: #fe9a00;
    --color-tertiary: #524a64;
    --color-bgmenu: #f1f0f5;
}

input:focus-visible {
    outline: none;
}

.header-btm {
    overflow:hidden;
    position:relative;
    top: -2px;
}

.header-btm::before {
    content:'';
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 100% 90px;
    background-position: 50% 0%;    
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbd8c2"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fbd8c2"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fbd8c2"/></svg>'); 
}
    
@media (min-width:268px) {
    .header-btm::before {
        bottom: -0.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -2px; 
        background-size: 180% 37px;
        background-position: 50% 0%;  
        background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 100.86 4.15"><path fill="%23ffffff" d="M0 0v3.5a9.07 9.07 0 0 0 9.37-1.67 9.07 9.07 0 0 0 12.1 0 9.07 9.07 0 0 0 12.11 0 9.07 9.07 0 0 0 12.06 0 9.07 9.07 0 0 0 12.11 0 9.07 9.07 0 0 0 12.08 0 9.07 9.07 0 0 0 12.09 0 9.07 9.07 0 0 0 12.08 0 9.07 9.07 0 0 0 6.86 2.28V.01z"/></svg>'); 
    }  
}
     
@media (min-width:1025px) {
    .header-btm::before { 
        bottom: -0.1vw;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw; 
        background-size: 100% 37px;
        background-position: 50% 0%;  
        background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 100.86 4.15"><path fill="%23ffffff" d="M0 0v3.5a9.07 9.07 0 0 0 9.37-1.67 9.07 9.07 0 0 0 12.1 0 9.07 9.07 0 0 0 12.11 0 9.07 9.07 0 0 0 12.06 0 9.07 9.07 0 0 0 12.11 0 9.07 9.07 0 0 0 12.08 0 9.07 9.07 0 0 0 12.09 0 9.07 9.07 0 0 0 12.08 0 9.07 9.07 0 0 0 6.86 2.28V.01z"/></svg>'); 
    }
}

@media (min-width:2100px) {
    .header-btm::before {
        display: none;
        background-size: 100% calc(2vw + 137px);
    }
}
     
.user-icons button {
   @apply flex flex-col justify-center items-center cursor-pointer duration-150
}

.user-icons button:hover {
    @apply opacity-80
}

.search-nav-icon {
    @apply w-9 h-9 sm:w-10 sm:h-10 bg-secondary rounded-full p-2 flex flex-col justify-center items-center text-white 
}

.cart-nav-icon {
    @apply w-9 h-9 sm:w-10 sm:h-10 bg-primary rounded-full p-2 flex flex-col justify-center items-center text-white 
}

.add-to-cart {
    @apply w-9 h-9 sm:w-10 sm:h-10 bg-primary rounded-full p-2 flex flex-col justify-center items-center text-white hover:bg-secondary
}

.top-sticky {
    transform: scale(0);
    margin-top: -42px;
}

.search-wrap {
    background-image: url('../images/steps.png');
    background-repeat: no-repeat;
    background-position: center;
    z-index: 111;
}

.cart-wrap, #menu-holder {
    background: rgb(82,74,100);
    background: linear-gradient(180deg, rgba(82,74,100,1) 36%, rgba(117,106,140,1) 100%); 
}

.hero {
    margin-top: -40px;
    background-size: cover;
    background: rgb(82,74,100);
    background: linear-gradient(180deg, rgba(82,74,100,1) 36%, rgba(117,106,140,1) 100%); 
}

@media (width >= 40rem) {
    #menu-holder{
      background: transparent;
    }
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
        opacity: 0;
    }
    100%{
        transform: rotate(180deg);
        opacity: 1;
    }
}

@keyframes scale{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.rotate180 {
    animation: rotate 200ms ease-out;
}

.scale {
    animation: scale 200ms ease-out;
}

.btn {
    padding: 0.7rem 1rem;
    border-radius: 2em;
    color: #fff;
    position: relative;
    transition: 200ms ease-in-out;
    cursor: pointer;
    @apply bg-primary
}

.btn:hover {
    @apply bg-secondary
}

.btn::before {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border: 2px dashed rgba(255, 255, 255, 0.3);
    border-radius: 2em;
}

.btn2 {
    padding: 0.7rem 1rem;
    border-radius: 2em;
    color: #fff;
    position: relative;
    transition: 200ms ease-in-out;
    cursor: pointer;
}

.btn2::before {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border: 2px dashed rgba(255, 255, 255);
    border-radius: 2em;
}

.heading::first-letter {
    @apply text-4xl

}

.heading::after {
    content: ' ';
    position: absolute;
    top: 40px;
    left: 50%;
    height: 40px;
    width: 100%;
    border-radius: 4px;
    transform: translateX(-50%);
    background: url('../images/heading-bottom4.png');
    background-repeat: no-repeat;
    background-position: center;
}


.shape-divider-bottom {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.shape-divider-bottom svg {
    position: relative;
    display: block;
    width: calc(110% + 1.3px);
    height: 76px;
}

.shape-divider-bottom .shape-fill {
    fill: #FFFFFF;
}

.product-box {
    @apply rounded-lg overflow-hidden hover:shadow-lg duration-50
}

.product {
    @apply relative
}

.disc-badge {
    @apply absolute text-xs left-2 top-2 bg-pink-600 py-1 px-2 rounded-lg uppercase text-white font-bold
}

.product-desc {
    @apply text-white relative py-2 px-4 sm:py-4 flex flex-col justify-center items-center gap-1 bg-tertiary
}

.product-desc h3 {
    @apply font-bold hover:text-secondary line-clamp-1
}

.price {
    @apply flex gap-2
}

.price span {
    @apply line-through text-[#b7aecc] font-bold
}

.add-cart {
    @apply flex justify-center items-center gap-1 cursor-pointer
}

.product-desc::before {
    content: '';
    position: absolute;
    top: -22px;
    left: 50%;
    height: 40px;
    width: 100%;
    transform: translateX(-50%);
    background: url('../images/dvdr.png');
    background-repeat: no-repeat;
    background-position: center;
}

.border-btm {
    border-bottom: 3px dashed #fe9a00;
    margin-bottom: 0.6rem;
}

.accordion {
    background-color: #00865a;
    color: #fff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    transition: 0.4s;
    margin: 0.3rem 0;
}
  
.active, .accordion:hover {
    @apply bg-secondary
}
  
.panel {
    padding: 0 18px;
    background-color: #524a64;
    color:#fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

#contact {
    @apply flex flex-col justify-center items-center gap-2
}

#contact input {
    border: 2px solid white;
    background-color: white;
    color:#24202e;  
    padding: 0.3rem 0.7rem;
    border-radius: 0.2rem;
    transition: 200ms ease-in-out;
}

#contact input:focus-visible {
    border: 2px solid #fe9a00;
}

#contact textarea {
    border: 2px solid white;
    background-color: white;
    color:#24202e;  
    padding: 0.3rem 0.7rem;
    border-radius: 0.2rem;
    transition: 200ms ease-in-out;
}

#contact textarea:focus {
    outline: none;
}

#contact textarea:focus-visible {
    border: 2px solid #fe9a00;
}

.error-msg {
    height: 2rem;
}

.p-error {
    color: #ff5f5f;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    transition: 300ms;
}

.p-success {
    color: #8bcc3d;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    transition: 300ms;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]{
    -moz-appearance: textfield;
}

footer {
    background-color: #524a64;
}


#contact-us{
    overflow:hidden;
    position:relative;
    }
    #contact-us::before{
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    bottom: -3px;
    left: -1px;
    right: -1px;
    top: -1px;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat; 
    background-size: 100% 90px;
    background-position: 50% 0%;    
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 35.28 2.17" preserveAspectRatio="none"><path d="M0 .5c3.07.55 9.27-.42 16.14 0 6.88.4 13.75.57 19.14-.11V0H0z" fill="%23fbd8c2"/><path d="M0 1c3.17.8 7.29-.38 10.04-.55 2.75-.17 9.25 1.47 12.67 1.3 3.43-.17 4.65-.84 7.05-.87 2.4-.02 5.52.88 5.52.88V0H0z" opacity=".5" fill="%23fbd8c2"/><path d="M0 1.85c2.56-.83 7.68-.3 11.79-.42 4.1-.12 6.86-.61 9.58-.28 2.73.33 5.61 1.17 8.61 1 3-.19 4.73-.82 5.3-.84V.1H0z" opacity=".5" fill="%23fbd8c2"/></svg>'); 
    }
    
    @media (min-width:268px){
    #contact-us::before{
        bottom: -5px;
        left: -0.1vw;
        right: -0.1vw;
        top: -0.1vw; 
        background-size: 250% 65px;
        background-position: 50% 100%;  
        background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 100.86 4.15"><path fill="%23524a64" d="M100.86 4.15V.65a9.07 9.07 0 0 0-9.37 1.67 9.07 9.07 0 0 0-12.1 0 9.07 9.07 0 0 0-12.11 0 9.07 9.07 0 0 0-12.06 0 9.07 9.07 0 0 0-12.11 0 9.07 9.07 0 0 0-12.09 0 9.07 9.07 0 0 0-12.08 0 9.07 9.07 0 0 0-12.08 0A9.07 9.07 0 0 0 0 .04v4.1z"/></svg>');  
    }  
    }
     
    @media (min-width:1025px){
    #contact-us::before{ 
    bottom: -0.3vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 118% 65px;
    background-position: 50% 100%;  
    background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="none" viewBox="0 0 100.86 4.15"><path fill="%23524a64" d="M100.86 4.15V.65a9.07 9.07 0 0 0-9.37 1.67 9.07 9.07 0 0 0-12.1 0 9.07 9.07 0 0 0-12.11 0 9.07 9.07 0 0 0-12.06 0 9.07 9.07 0 0 0-12.11 0 9.07 9.07 0 0 0-12.09 0 9.07 9.07 0 0 0-12.08 0 9.07 9.07 0 0 0-12.08 0A9.07 9.07 0 0 0 0 .04v4.1z"/></svg>'); 
    }
    }
    @media (min-width:2100px){
    .shapedividers_com-710::before{
    background-size: 118% calc(2vw + 65px);
    }
    }
     