@import "tailwindcss";

@theme {
    --font-primary: "Montserrat", serif;
    --color-primary: #4f8103;
    --color-secondary: #fe9a00;
    --color-tertiary: #524a64;
    --color-bgmenu: #f1f0f5;
}

input:focus-visible {
    outline: none;
}

.user-icons button {
   @apply flex flex-col justify-center items-center cursor-pointer duration-150
}

.user-icons button:hover {
    @apply opacity-80
}

.search-nav-icon {
    @apply w-9 h-9 sm:w-10 sm:h-10 bg-[#fe9a00] rounded-full p-2 flex flex-col justify-center items-center text-white
}

.cart-nav-icon {
    @apply w-9 h-9 sm:w-10 sm:h-10 bg-[#15bb85] rounded-full p-2 flex flex-col justify-center items-center text-white
}

.top-sticky {
    transform: scale(0);
    margin-top: -42px;
}

.cloud-bg {
    height: 40px;
    width: 100%;
    background-color: transparent;
    top: 5px;
}

.search-wrap {
    background-image: url('../images/steps.png');
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
        opacity: 0;
    }
    100%{
        transform: rotate(180deg);
        opacity: 1;
    }
}

@keyframes scale{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.rotate180 {
    animation: rotate 200ms ease-out;
}

.scale {
    animation: scale 200ms ease-out;
}

.btn {
    padding: 0.7rem 1rem;
    border-radius: 2em;
    color: #fff;
    position: relative;
    transition: 200ms ease-in-out;
    @apply bg-primary
}

.btn:hover {
    @apply bg-secondary
}

.btn::before {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border: 2px dashed rgba(255, 255, 255, 0.3);
    border-radius: 2em;
}
