@import "tailwindcss";

@theme {
    --font-primary: "Montserrat", serif;
    --color-primary: #739d34;
    --color-secondary: #d05493;
    --color-tertiary: #524a64;
}

.user-icons div {
   @apply flex flex-col justify-center items-center cursor-pointer duration-150
}

.user-icons div:hover {
    @apply opacity-90
}

.search-nav-icon {
    @apply w-9 h-9 sm:w-10 sm:h-10 bg-[#f75d9e] rounded-full p-2 flex flex-col justify-center items-center text-white
}

.profile-nav-icon {
    @apply w-9 h-9 sm:w-10 sm:h-10 bg-[#65a1ff] rounded-full p-2 flex flex-col justify-center items-center text-white
}

.cart-nav-icon {
    @apply w-9 h-9 sm:w-10 sm:h-10 bg-[#15bb85] rounded-full p-2 flex flex-col justify-center items-center text-white
}

.cloud-bg {
    background-image: url('../images/cloud-bg-min.png');
    background-repeat: no-repeat;
    height: 40px;
    background-color: transparent;
    position: relative;
    bottom: 5px;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
        opacity: 0;
    }
    100%{
        transform: rotate(180deg);
        opacity: 1;
    }
}

@keyframes scale{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.rotate180 {
    animation: rotate 200ms ease-out;
}

.scale {
    animation: scale 200ms ease-out;
}

.nav-link {
    padding: 0.7rem 1rem;
    border-radius: 2em;
    color: #fff;
    position: relative;
    transition: 200ms ease-in-out;
    @apply bg-primary
}

.nav-link:hover {
    @apply bg-tertiary
}

.nav-link::before {
    content: "";
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border: 2px dashed rgba(255, 255, 255, 0.3);
    border-radius: 2em;
}
